:root {
  --red-1: #ee1515;
  --red-2: #f00000;
  --dark-gray: #222224;
  --light-gray: #f0f0f0;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background: var(--red-1);
  color: var(--light-gray);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--red-2);
  color: var(--light-gray);
  border: 2px solid var(--dark-gray);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--dark-gray);
  color: var(--red-1);
}

h1, h2, p {
  margin: 10px 0;
}
