.main-container {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  background: #f0f0f0;
  color: #222224;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #f00000;
}

.player-timer h2 {
  font-size: 1.5rem;
  color: #f00000;
}

.circle-button {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  background: #ffffff;
  color: #222224;
  font-size: 1.2rem;
  border: 2px solid #222224;
  box-shadow: 2px 2px 5px #ee1515;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.circle-button:hover {
  background-color: #f00000;
  color: #ffffff;
}

.square-button {
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background: #ffffff;
  color: #222224;
  border: 2px solid #222224;
  box-shadow: 2px 2px 5px #ee1515;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.square-button:hover {
  background-color: #f00000;
  color: #ffffff;
}

.critical {
  color: red;
  animation: flash 1s infinite;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.control-buttons button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #f00000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.control-buttons button:hover {
  background-color: #222224;
}
